.flexcontainer {
    max-width: 2000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.content-wrapper {
    display: flex;
    position: absolute;
    z-index: 2; /* Para que el contenido esté encima del video */
    width: 100%;
    height: 100%;
    margin-top: 73vh;
   
}
.content-left, .content-right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: left;
}

.content-left p, .content-right p {
    padding: 20px; /* Ajusta el padding si es necesario */
    text-align: center;
    font-size: 1.5rem;
}
.column {
    margin: 0px; /* Margen de 10px entre cada columna */
    display: flex;
    flex-direction: column; /* Alinear el texto en columnas */
    justify-content: center; /* Centrar contenido verticalmente */

}

.column p {
    margin-left: 30px; /* Margen a la izquierda de los párrafos */
    font-size: 1em;
}

.upper {
    height: 70%; /* 70% de altura para la parte superior */
    flex: 1 1 calc(33.33% - 20px); /* Ocupa un tercio del ancho, ajustando por margen */
}

.lower {
    height: 30%; /* 30% de altura para la parte inferior */
    flex: 1 1 calc(33.33% - 20px); /* Ocupa un tercio del ancho, ajustando por margen */
}
.nombre{
    font-weight: bold;
    color: #546960;
}

a {
    color: #8a8480; /* Color por defecto */
    text-decoration: none; /* Quitar subrayado */
}

a:visited {
    color: #8a8480; /* Color para enlaces visitados */
}

a:hover {
    color: #b0a7a2; /* Color más claro al pasar el mouse */
}

a:active {
    color: #8a8480; /* Color para enlaces activos */
}

.nombre a i {
    font-size: 1em; /* Cambia este valor según sea necesario */
    margin-right: 5px; /* Espacio a la derecha del ícono */
}
.nombre i, .lower p i {
    font-size: 1em; /* Cambia este valor según sea necesario */
    margin-right: 5px; /* Espacio a la derecha del ícono */
}
.puntosde {
    position: absolute;
    display: flex;
    justify-content:space-evenly;
    width: 100%;
    max-width: 400px;
    height: 400px; /* Establece la altura de 400px */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    z-index: 3; /* Coloca el contenido sobre el video */
    margin-top: 89vh;
    margin-left: 2vh;
}

.izquierda, .centro {
    width: 700px;
    text-align:left;
    height: 100%; /* Asegura que los divs internos ocupen el 100% de la altura de puntosde */

}
.izquierda{
    margin-right: 40px;
}

.izquierda p, .centro p {
    margin: 5px 0; /* Ajusta el espacio entre los párrafos */
    
}
.instagram{
    font-size: 20px!important;
}
.tel{
    font-size: 20px!important ;
}

@media (max-width: 768px){
    .div1cel, .div2cel, .div3cel, .div4cel{
        display:flex;
        overflow: hidden; /* Oculta cualquier desbordamiento */
    }
    .video1cel, .video2cel{
        top: 50%;
        left: 50%;
        width: 100%;
        height: auto;
        max-height: 100%;
        object-fit: cover;
        z-index: 1;
    }
    .video3cel,.video4cel{
        position: relative;
        top: 50%;
        left: 50%;
        width: 100%;
        height: auto;
        max-height: 100%;
        object-fit: cover;
        z-index: 1;
        transform: translate(-50%);
        display: flex;
    }
    
}